@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

/* custom.css */
.transparent-link {
  color: #007bff;
  border: 2px solid #007bff;
  border-radius: 4px;
  padding: 8px 16px;
  text-decoration: none;
  transition: background-color 0.3s ease, color 0.3s ease;
}


.transparent-link {
  @apply inline-block bg-transparent border-2 border-blue-500 text-blue-500 rounded px-4 py-2 text-center transition-all ease-in-out duration-300;
}

.transparent-link:hover {
  @apply bg-blue-500 text-white;
}